div[role=menu] {
    background: url("../Files/bg-pattern-intro-mobile.svg"),
     linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-position-x: 35.4%;
    background-position-y: 33.8%;
    background-size: 1324px;
    position: relative;
    width: 100%;
    height: 95vh;
    border-radius: 0% 0% 0% 10rem;

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        margin-top: 4rem;
        width: 100%;
    }

    .header-texts {

        a {
            padding: 1.5rem 2.5rem;
        }
    }

    h2 {
        font-size: 3.5rem;
        width: 85%;
        color: white;
        margin-top: 10rem;
    }


    p {
        color: white;  
        margin-bottom: 3rem;
        margin-top: 2rem;
        width: 85%;
    }
}


@media all and (min-width:376px) {
    div[role=menu] {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        background-image:   url("../Files/bg-pattern-intro-desktop.svg"),
        linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        background-size: 3175px;
        background-position-x: 25.25%;
        background-position-y: -71%;
        height: 82vh;


        .menu {
            padding: 3.5rem 7rem 0rem;
            width: 80%;
            margin: 4rem 0rem 0rem;
            

            .menu-left-side {
                display: flex;
                justify-content: center;
                align-items: center;

                .menu-logo-img {
                    width: 10.1rem;
                    margin-right: 3rem;
                }
            }

            .menu-outer-ul {
                position: relative;
                margin-top: 1rem;
                > li {
                    display: inline-block;
                    margin-left: 3rem;
                    margin-bottom: 1.5rem;
                    color: white;
                }
    
                .menu-inner-uls {
                    position: absolute;
                    background-color: white;
                    padding: 1.5rem 4rem 1.5rem 1.5rem;
                    display: none;
                    border-radius: 0.7rem;
                    li {
                        margin-bottom: 1rem;
                    }
    
                    li:hover {
                        font-weight: 600;
                        transition: all ease-in-out 0.4s;
                    }
                }
    
                > li:hover .menu-inner-uls {
                    display: block;
                    transition: all ease-in-out 0.4s;
                }
    
                > li:hover .arrow {
                    rotate: 180deg;
                    transition: all ease-in-out 0.4s;
                }
    
                > li:hover {
                    color: white;
                    text-decoration: underline;
                    transition: all ease-in-out 0.4s;
                }
            }

            .menu-right-side {
                .white-buttons {
                    margin-left: 2rem;
                }
            }
        }

        .header-texts {
            margin-top: 4rem;
            width: 70%;

            h2 {
                color: white;
                font-size: 6rem;
                margin-bottom: 1.5rem;
            }

            p {
                margin-bottom: 3rem;
                font-size: 2rem;
                width: auto;
            }

            .header-texts-buttons {
                
                .colourless-buttons {
                    margin-left: 1rem;
                    border: 1px solid white;
                }

                .colourless-buttons:hover {
                    background-color: white;
                    color: hsl(13, 100%, 72%);
                    transition: all ease-in-out 0.4s;
                }
            }

            a {
                font-size: 1.9rem;
                padding: 1.5rem 2rem;
            }
        }
    }

}


// well
// the whole menu (or header) had some new things for me so,
// this part is a little kind of both mobile and desktop first :),
// and the rest of it (meaning main-body and footer) are all mobile first design